html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  height: 100%;
}

#feed {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.video-container {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}